@charset "UTF-8";
/**
 * Created with IntelliJ IDEA. 
 * User: llc 
 * Date: 2014/12/19 
 * Time: 14:48 
 * To change this template use File | Settings | File Templates. 
 */

* {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Microsoft Yahei", "Helvetica Neue", Helvetica, STHeiTi, Arial, sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 62.5%;
  height: 100%;
}

body {
  line-height: 1.5;
  color: #666;
  height: 100%;
  background: #c81022;
  -webkit-overflow-scrolling: touch;
}

a {
  color: #666;
  text-decoration: none;
  background: transparent;
  -webkit-tap-highlight-color: transparent;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
}

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline;
}

h1, h2, h3, h4, h5, h6, em, span, i, strong {
  font-weight: normal;
  font-style: normal;
}


li {
  list-style-type: none;
}
button{
  border: 0 none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
input[type="text"]{
  outline: 0 none;
  -webkit-tap-highlight-color: transparent;/*ios私有*/
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/*屏蔽苹果手机样式 */
input[type="button"], input[type="submit"], input[type="reset"] {

  -webkit-appearance: none;
}

.index-wrap{
  position: relative;
  padding-bottom: 20px;
  width: 100%;
  background-color: #c81022;
  img{
    width: 100%;
    max-width: 100%;
  }
}
.index-wrap2{
  position: fixed;
  top: 0;
  left: 0;
  padding-bottom: 20px;
  width: 100%;
  img{
    width: 100%;
    max-width: 100%;
  }
}
.index-btn{
  position: absolute;
  top: 80%;
  left: 50%;
  margin-left: -55px;
  width: 110px;
  height: 26px;
  background: url(../img/index-btn.png) 0 0 no-repeat;
  -webkit-background-size: 100% auto;
  background-size: 100% auto;
}
.wd-logo{
  position: absolute;
  left: 50%;
  bottom: 30px;
  margin-left: -38px;
  width: 75px;
  height: 15px;
  img{
    width: 100%;
    max-width: 100%;
  }
}
.next-btn{
  top: 64%;
  background: url(../img/next-btn.png) 0 0 no-repeat;
  -webkit-background-size: 100% auto;
  background-size: 100% auto;
}
.reg-wrap{
  position: absolute;
  top: 40%;
  left: 50%;
  margin-left: -110px;
  width: 220px;
  p{
    margin-bottom: 10px;
  }
}
.reg-input-t{
  width: 100%;
  height: 28px;
  line-height: 28px;
  border: 0 none;
  font-size: 1.2em;
  border-radius: 2px;
  text-indent: 1em;
}
.w55p{
  width: 55%;
}
.reg-btn{
  float: right;
  width: 40%;
  height: 28px;
  line-height: 28px;
  text-align: center;
  border: 1px solid #fff;
  background-color: #fdcd00;
  border-radius: 2px;
  color: #ffffff;
  font-size: 1.4em;
}
.get-packet-btn{
  background: url(../img/get-packet.png) 0 0 no-repeat;
  -webkit-background-size: 100% auto;
  background-size: 100% auto;
}
.info-wrap{
  position: absolute;
  top: 12%;
  left: 50%;
  margin-left: -110px;
  padding: 0 10px;
  width: 200px;
  background: #ffffff;
  border-radius: 5px;
  h1{
    padding: 6px 0;
    margin: 0 auto;
    font-size: 1.4em;
    border-bottom: 1px dashed #7f7f7f;
    text-align: center;
    span{
      color: #cb182b;
    }
  }
  .money{
    padding: 12px 0;
    text-align: center;
    font-size: 2.4em;
    color: #cb182b;
    i{
      font-size: 0.6em;
    }
  }
  .info-con{
    text-align: center;
    font-size: 1.4em;
    b{
      color: #cb182b;
    }
  }
  .info-btn{
    margin: 10px auto 14px auto;
    width: 110px;
    height: 26px;
    background: url(../img/index-btn.png) 0 0 no-repeat;
    -webkit-background-size: 100% auto;
    background-size: 100% auto;
    display: block;
  }
}
.list-wrap{
  position: relative;
  top: -210px;
  left: 50%;
  margin-left: -148px;
  width: 296px;
  overflow: hidden;
  li{
    height: 44px;
    color: #ffffff;
    border-bottom: 1px solid #dd6d78;
    .list-tt{
      margin-top: 2px;
      float: left;
    }
    h1{
      font-size: 1.4em;
    }
    p{
      font-size: 1.2em;
    }
    em{
      float: right;
      height: 44px;
      line-height: 44px;
      color: #fde052;
      font-size: 1.8em;
    }
    span{
      font-size: 0.5em;
    }
    i{
      color: #fde052;
    }
  }
  .head-pic{
    margin: 5px 8px 0 8px;
    float: left;
    width: 35px;
    height: 35px;
    border-radius: 35px;
  }
}
.input-code{
  position: absolute;
  top: 20%;
  left: 50%;
  margin-left: -101px;
  width: 202px;
  height: 330px;
  background-image: url(../img/4-bg.png);
  background-repeat: no-repeat;
  -webkit-background-size: 100% auto;
  background-size: 100% auto;
}
.bgc{
  height: 100%;
  background-image:-webkit-linear-gradient(180deg,rgba(138,162,150,.9),rgba(18,21,50,.9));
  background-image:linear-gradient(180deg,rgba(138,162,150,.9),rgba(18,21,50,.9));
}
.input-code-con {
  padding-top: 70%;
  margin: 0 auto;
  width: 96%;
  p{
    margin-bottom: 12px;
  }
  .alert-info{
    text-align: center;
    color: #ffffff;
    font-size: 1.2em;
  }
  .get-bag-btn{
    top: 84%;
    background: url(../img/get-packet2.png) 0 0 no-repeat;
    -webkit-background-size: 100% auto;
    background-size: 100% auto;
  }
  .get-bag-input{
    margin: 0 auto;
    width: 90%;
    display: block;
  }
}
.share-wrap{
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-image:-webkit-linear-gradient(180deg,rgba(147,165,138,1),rgba(25,8,39,1));
  background-image:linear-gradient(180deg,rgba(147,165,138,1),rgba(25,8,39,1));
  img{
    width: 100%;
  }
}
.share-bg{
  position: fixed;
  top: 0;
}
.list-none-info{
  position: absolute;
  bottom: 35%;
  width: 100%;
  text-align: center;
  font-size: 1.6em;
  color: #fde052;
}
.list-wd-logo{
  bottom: 150px;
}
@media screen and (min-width: 768px){
  .list-none-info{
    font-size: 2.6em;
  }
  .index-btn{
    margin-left: -110px;
    width: 220px;
    height: 52px;
  }
  .wd-logo{
    bottom: 60px;
    margin-left: -75px;
    width: 150px;
    height: 30px;
  }
  .reg-wrap{
    position: absolute;
    top: 40%;
    left: 50%;
    margin-left: -220px;
    width: 440px;
    p{
      margin-bottom: 20px;
    }
  }
  .reg-input-t{
    height: 56px;
    line-height: 56px;
    font-size: 2.2em;
  }
  .reg-btn{
    height: 56px;
    line-height: 56px;
    border: 2px solid #fff;
    font-size: 2.2em;
  }
  .info-wrap{

    margin-left: -220px;
    padding: 0 20px;
    width: 400px;
    h1{
      padding: 12px 0;
      font-size: 2.2em;
    }
    .money{
      padding: 24px 0;
      font-size: 4.6em;
      i{
        font-size: 0.6em;
      }
    }
    .info-con{
      font-size: 2.2em;
    }
    .info-btn{
      margin: 20px auto 28px auto;
      width: 220px;
      height: 52px;
    }
  }
  .list-wrap{
    top: -530px;
    left: 50%;
    margin-left: -295px;
    width: 590px;
    li{
      height: 88px;
      .list-tt{
        margin-top: 14px;
      }
      h1{
        font-size: 2.2em;
      }
      p{
        font-size: 1.8em;
      }
      em{
        height: 88px;
        line-height: 88px;
        font-size: 2.8em;
      }

    }
    .head-pic{
      margin: 10px 16px 0 16px;
      width: 70px;
      height: 70px;
      border-radius: 70px;
    }
  }

  .input-code{
    top: 10%;
    margin-left: -202px;
    width: 404px;
    height: 660px;
  }

  .input-code-con {

    p{
      margin-bottom: 24px;
    }
    .alert-info{
      font-size: 1.8em;
    }

  }
  .list-wd-logo{
    bottom: 360px;
  }
}